body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  background-color: #F3F7FA;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.containerContent {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-right: 20px;
  //margin-left: 20px;
}



.containerFlight {
  width: 90%;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

@media (min-width: 600px) {
  .containerFlight {
    width: 60%;
  }
}

.logo {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 60px;
}