
.container {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 252px;
  padding: 20px;
  background-color: white;
  margin-bottom: 20px;
  margin-left: 20px;
}

@media (max-width: 600px) {
  .container {
    display: none;
  }
}

.checkbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 240px;
  font-size: 13px;
  line-height: 20px;
  cursor: auto;
}

.checkboxAll {
  margin-bottom: 13px;
}


.checkbox :hover {
  background: #F1FCFF;
}

.title {
  font-size: 12px;
  margin-bottom: 20px;
}


